<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         colors="true"
         timeoutForSmallTests="5">

    
    <testsuite name="GoogleApi Test Suite">
        <directory suffix="Test.php">./tests/GoogleApi/Test/</directory>
        <exclude>./tests/GoogleApi/Test/Auth</exclude>
        <exclude>./tests/GoogleApi/Test/Cache</exclude>
        <exclude>./tests/GoogleApi/Test/Contrib</exclude>
        <exclude>./tests/GoogleApi/Test/IO</exclude>
        <exclude>./tests/GoogleApi/Test/Service</exclude>
    </testsuite>


    <filter>
        <blacklist>
           <directory suffix=".php">src/contrib/</directory>
           <directory suffix=".php">src/external/</directory>
           <directory suffix=".php">./</directory>
           <file>../src/cache/apiApcCache.php</file>
           <file>../src/cache/apiMemcacheCache.php</file>
        </blacklist>
    </filter>
    
  <logging>
    <log type="coverage-html" target="build/coverage" title="google-api-php-client"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>
</phpunit>
